
@{
    Layout = "~/Views/Shared/LoggedOut_Layout.cshtml";
    ViewBag.Title = "Create Account";
}


    <div class="center-block" style="width:40%">
        <h2>Create Account</h2>
        <form action="CreateNewUser/Login" method="post">
            <label for="first">First Name:</label>
            <input type="text" name="firstName" /><br />
            <label for="last">Last Name:</label>
            <input type="text" name="lastName" /><br />
            <label for="user">Username:</label>
            <input type="text" name="userName" /><br />
            <label for="pass">Password:</label>
            <input type="password" name="passWord" /><br />
            @if (Model != null && Model.SignInFailed)
            {
                <p id="loginError" style="color:red;">Unable to create account.</p>
            }
            <input type="submit" value="Create account" id="create" />
            @Html.ActionLink("Go to login", "SignIn", "Login")
        </form>
    </div>

    <script>
    $(document).ready(function () {
        $('#create').click(function () {
            var firstName = $('#first').val();
            var lastName = $('#last').val();
            var userName = $('#user').val();
            var passWord = $('#pass').val();

            if (!userName || !passWord || !firstName || !lastName) {
                $('#createError').text("Please fill all fields");
            }
            else {
                $('#createError').text("");
                $.ajax({
                    url: "/Login/CreateNewUser",
                    data: {
                        'userName': userName,
                        'passWord': passWord,
                        'firstName': firstName,
                        'lastName': lastName
                    },
                    type: "POST",
                    success: function (data) {
                        var url = '@Url.Action("SignIn", "Login")';
                        window.location.href = url;
                    },
                    error: function (data) {
                        alert("Failed to create account")
                    }
                });
            }
        });
    });
    </script>
