
@{
    Layout = "~/Views/Shared/LoggedOut_Layout.cshtml";
    ViewBag.Title = "Sign In";
}
@model Diabetes.Models.SignInModel

    <div class="center-block" style="width:40%">
        <h2 class="pageTitle">Sign In</h2>

        <br />

        <form action="Login/Login" method="post">
            <table>
                <tr>
                    <td class="login-items">
                        <b>Username:</b>
                    </td>
                    <td class="login-items">
                        <input type="text" name="userName" required />
                    </td>
                </tr>
                <tr>
                    <td class="login-items">
                        <b>Password:</b>
                    </td>
                    <td class="login-items">
                        <input type="password" name="passWord" required />
                    </td>
                </tr>
            </table>

            @if (Model != null && Model.SignInFailed)
            {
                <p id="loginError" style="color:red;">Username or password is incorrect</p>
            }
            <br />
            <input type="submit" value="Login" />
            @Html.ActionLink("Create an account", "CreateAccount", "Login")
        </form>
    </div>
