
@{
    Layout = "~/Views/Shared/LoggedOut_Layout.cshtml";
    ViewBag.Title = "Sign In";
}

<div class="center-block" style="width:70%">
    <h2 class="pageTitle">Sign In</h2>

    <br />
    <form action="Login/Login" method="post">
        <label for="userName">Username:</label>
        <input type="text" name="userName" required /><br />
        <label for="passWord">Password:</label>
        <input type="password" name="passWord" required />

        @if (Model != null && Model.SignInFailed)
        {
            <p id="loginError" style="color:red;">Username or password is incorrect</p>
        }
        <br />
        <input type="submit" value="Login" />
        @Html.ActionLink("Create an account", "CreateAccount", "Login")
    </form>
</div>
