@{
    ViewBag.Title = "About";
}
<h2>Add Data</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Add Blood Sugar</h2>
        <label for="bloodSugar">Blood Sugar:</label>
        <input type="number" id="bloodSugar" /><br />
        <label for="dateBS">Date:</label>
        <input type="datetime-local" id="dateBS" />
        <p id="BSError" style="color:red;"></p>
        <input type="button" value="Add Blood sugar" id="bloodSugarAdd" />
    </div>
    <div class="col-md-4">
        <h2>Add Carbs</h2>
        <label for="carbs">Carbs:</label>
        <input type="number" id="carbs" /><br />
        <label for="dateCarbs">Date:</label>
        <input type="datetime-local" id="dateCarbs" />
        <p id="CarbsError" style="color:red;"></p>
        <input type="button" value="Add carbs" id="carbsAdd" />
    </div>
    <div class="col-md-4">
        <h2>Add Insulin</h2>
        <label for="units">Units of insulin:</label>
        <input type="number" id="units" /><br />
        <label for="fastInsulin">Fast</label>
        <input type="radio" id="fastInsulin" name="insulinType" value="fast">
        <label for="slowInsulin">Slow</label>
        <input type="radio" id="slowInsulin" name="insulinType" value="slow"><br />
        <label for="dateInsulin">Date:</label>
        <input type="datetime-local" id="dateInsulin" />
        <p id="InsulinError" style="color:red;"></p>
        <input type="button" value="Add insulin" id="insulinAdd" />
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#bloodSugarAdd').click(function () {
            var bsLevel = $('#bloodSugar').val();
            var date = $('#dateBS').val();

            if (!bsLevel || !date) {
                $('#BSError').text("Please fill all fields");
            }
            else {
                $('#BSError').text("");
                $.ajax({
                    url: "/Home/AddBloodSugarLevel",
                    data: {
                        'BSLevel': bsLevel,
                        'dateTime': date
                    },
                    type: "POST",
                    success: function (data) {
                        alert("blood Sugar Added");
                    },
                    error: function (data) {
                        alert("Failed blood sugar");
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        $('#carbsAdd').click(function () {
            var carbs = $('#carbs').val();
            var date = $('#dateCarbs').val();

            if (!carbs || !date) {
                $('#CarbsError').text("Please fill all fields");
            }
            else {
                $('#CarbsError').text("");
                $.ajax({
                    url: "/Home/AddCarbs",
                    data: {
                        'carbs': carbs,
                        'dateTime': date
                    },
                    type: "POST",
                    success: function (data) {
                        alert("carbs Added");
                    },
                    error: function (data) {
                        alert("Failed carbs");
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        $('#insulinAdd').click(function () {
            var units = $('#units').val();
            var insulinType = $("[name='insulinType']:checked").val();
            var date = $('#dateInsulin').val();

            var insulinInt = 0;
            if (insulinType == "fast") {
                insulinInt = 1;
            }
            else {
                insulinInt = 2;
            }

            if (!carbs || !date) {
                $('#InsulinError').text("Please fill all fields");
            }
            else {
                $('#InsulinError').text("");
                $.ajax({
                    url: "/Home/AddInsulin",
                    data: {
                        'units': units,
                        'dateTime': date,
                        'insulinType': insulinInt
                    },
                    type: "POST",
                    success: function (data) {
                        alert("insulin Added");
                    },
                    error: function (data) {
                        alert("Failed insulin");
                    }
                });
            }
        });
    });
</script>