@{
    ViewBag.Title = "Export Data";
}
@model Diabetes.Models.User

    <div>
        <h2>Export Data</h2>
        <div style="border-top: 2px solid"></div><br />
        <div>
            <h4>Select the dates to include:</h4>
            <table>
                <tr>
                    <td class="date">
                        Start Time
                    </td>
                    <td class="date">
                        End Time
                    </td>
                </tr>
                <tr>
                    <td class="date">
                        <input class="date" type="datetime-local" id="startTime" />
                    </td>
                    <td class="date">
                        <input class="date" type="datetime-local" id="endTime" />
                    </td>
                </tr>
            </table>


        </div>

        <div>
            <h4>Select the data to include:</h4>
            <table>
                <tr>
                    <td class="types">
                        Blood Sugar:
                    </td>
                    <td class="types">
                        <input type="checkbox" id="bloodSugar" value="Blood" />
                    </td>
                </tr>
                <tr>
                    <td class="types">
                        Carbs:
                    </td>
                    <td class="types">
                        <input type="checkbox" id="carbs" value="Carbs" />
                    </td>
                </tr>
                <tr>
                    <td class="types">
                        Insulin:
                    </td>
                    <td class="types">
                        <input type="checkbox" id="insulin" value="Insulin" />
                    </td>
                </tr>
            </table>
        </div>
        <input type="button" id="exportButton" value="Export" />
    </div>

    <script>
        $(document).ready(function () {
            $('#exportButton').click(function () {
                var includeBlood = false;
                var includeCarbs = false;
                var includeInsulin = false;
                if ($("#bloodSugar").is(':checked')) {
                    includeBlood = true;
                }
                if ($("#carbs").is(':checked')) {
                    includeCarbs = true;
                }
                if ($("#insulin").is(':checked')) {
                    includeInsulin = true;
                }

                var startTime = $('#startTime').val();
                var endTime = $('#endTime').val();

                if ((startTime != null && endTime != null) && (includeBlood == true || includeCarbs == true || includeInsulin == true)) {
                    $.ajax({
                        url: "/Home/CreateExcelFile",
                        data: {
                            'startTime': startTime,
                            'endTime': endTime,
                            'includeBlood': includeBlood,
                            'includeCarbs': includeCarbs,
                            'includeInsulin': includeInsulin
                        },
                        type: "POST",
                        success: function (data) {
                            window.location.href = "@Url.RouteUrl(new { Controller = "Home", Action = "DownloadExcelFile" })/?fileName=" + data.fileName;
                        },
                        error: function (data) {
                            alert("failure");
                        }
                    });
                }
            });
        });
    </script>
