@{
    ViewBag.Title = "Home Page";
}
@model Diabetes.Models.User
@*<script src="~/Scripts/Chart.js"></script>*@
<h1>Welcome @Model.firstName @Model.lastName</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0-rc.1/Chart.bundle.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<div id='myDiv'></div>
@*<div class="container">
    <canvas id="examChart"></canvas>
</div>
<div Style="font-family: Corbel; font-size: small ;text-align:center " class="row">
    <div style="width:100%;height:100%">
        <canvas id="myChart" style="padding: 0;margin: auto;display: block; "> </canvas>
    </div>
</div>*@
<script>
    $.ajax({
        type: "POST",
        url: "/Home/NewChart",
        //data: {
        //    'timeframe': 7
        //},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var data = [
                {
                    x: chData[1],
                    y: chData[2],
                    type: 'scatter'
                }
            ];
            var layout = {
                xaxis: {
                    range: [new Date(chData[3][0]), new Date(chData[3][1])],
                    type: 'date'
                },
                yaxis: {
                    autorange: true,
                    range: [0, 400],
                    type: 'linear'
                }
            };
            Plotly.newPlot('myDiv', data, layout);
        }
    });

</script>
<script>
    var ctx = document.getElementById("examChart").getContext("2d");

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [new Date("2015-3-15 13:3").toLocaleString(), new Date("2015-3-25 13:2").toLocaleString(), new Date("2015-4-25 14:12").toLocaleString()],
            datasets: [{
                label: 'Demo',
                data: [{
                    t: new Date("2015-3-15 13:3"),
                    y: 12
                },
                {
                    t: new Date("2015-3-25 13:2"),
                    y: 21
                },
                {
                    t: new Date("2015-4-25 14:12"),
                    y: 32
                }
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear'
                }]
            }
        }
    });
</script>
<script>
    $.ajax({
        type: "POST",
        url: "/Home/NewChart",
        //data: {
        //    'timeframe': 7
        //},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[2];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test Data",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(54, 162, 235, 0.2)", "rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"],
                    borderColor: ["rgb(54, 162, 235)", "rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
                    borderWidth: 1
                }]
            };
            var ctx = $("#myChart").get(0).getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'line',
                data: dataT,
                options: {
                    responsive: true,
                    title: { display: true, text: 'CHART.JS DEMO CHART' },
                    legend: { position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { stepSize: 50, beginAtZero: true } }]
                    },
                }
            });
        }
    });
</script>
