@{
    ViewBag.Title = "Trends";
}
@model Diabetes.Models.User

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0-rc.1/Chart.bundle.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<div>
    <h2>Trends</h2>
    <div style="border-top: 2px solid"></div>
    <br />
    <div>
        <table>
            <tr>
                <td class="date-trends">
                    Start Time:
                </td>
                <td class="date-trend">
                    <input class="date" type="datetime-local" id="beginTimeChart" />
                </td>
            </tr>
            <tr>
                <td class="date-trend">
                    End Time:
                </td>
                <td class="date-trend">
                    <input class="date" type="datetime-local" id="endTimeChart" />
                </td>
            </tr>
        </table>
        <input type="button" id="dates" value="Get Data" />
    </div>

    <div>
        <h3 id="a1c"></h3><br /><br />
    </div>

    <div id='BSChart'></div>
    <div id='InsulinChart'></div>
    <div id='CarbChart'></div>

</div>
<script type="text/javascript" src="~/Scripts/Trends.js"></script>

