body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: dimgrey;
    height: 100px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

td.login-items {
    width: 100px;
    height: 30px;
}

td.input-items {
    width: 150px;
    height: 30px;
    font-size: 16px;
}

td.list-items {
    min-width: 100px;
    height: 30px;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
}

tr.list-items {
    border-bottom: 2px solid grey;
}

input.date {
    width: 240px;
}

td.date {
    width: 260px;
    font-size: 16px;
    padding-bottom: 10px;
}

/*div.date-trends {
    width: 40%;
}*/

td.date-trends {
    width: 100px;
    text-align:center;
    padding: 7px 4px 0px 12px;
    font-size: 18px;
}

.mobile-trends {
    font-size: 16px !important;
}

td.types {
    width: 200px;
    font-size: 16px;
    padding-bottom: 10px;
}

.right {
    text-align: right;
    padding-right: 20px;
}

h2 {
    text-align: center;
}

#day-buttons {
    text-align: center;
}